.reviewMilestones {
    width: 100vw;
    min-height: 100vh;
    background-color: #DCDADA;
}

.goBack:hover {
    cursor: pointer;
}

.goBack {
    padding-bottom: 1rem;
}

.pageName {
    font-weight: bold;
    font-size: 1.5rem;
}

.statement {
    padding-bottom: 0.5rem;
}